/* Paddings and margins */
#urlbar-container{
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-type-icon,
.urlbarView-row .urlbarView-favicon { /* urlbar search results margin */
  margin-left: 7px !important;
}

#urlbar{
  padding-left: 7px !important;
}

/*#urlbar-input{
  padding-bottom: 1px !important;
}*/

#nav-bar-overflow-button{
  padding-top: 1px !important;
  padding-bottom: 1px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Heights and widths */
#nav-bar{
  min-height: 19px !important;
  max-height: 19px !important;
}

#urlbar{
  min-height: 19px !important;
  max-height: 19px !important;
}

#urlbar-input{
  min-height: 19px !important;
  max-height: 19px !important;
}

/* Borders */
#navigator-toolbox{
  border-width: 0 !important;
}

#urlbar{
  border-width: 0 !important;
  border-radius: 0 !important;
}

#urlbar-input{
  border-radius: 0 !important;
}

#nav-bar-overflow-button{
  border-radius: 0 !important;
}

/* Shadows */
#urlbar[focused="true"]{
  box-shadow: none !important;
}

#nav-bar{
  box-shadow: none !important;
}
