@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:root {
  --tab-toolbar-navbar-overlap: 0px !important; /* fix for full screen mode */
  --tab-min-height: 17px !important;
}
:root #tabbrowser-tabs {
  --tab-min-height: 17px !important;
}
#TabsToolbar {height: var(--tab-min-height) !important;}

/* Margins for the tab text, the favicon and the tab loading animation */
.tab-label-container{
    margin-top: 0px !important;
}
.tab-icon-image{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  height: 14px !important;
  width: 14px !important;
}

.tab-throbber{margin-top: 0px !important;}

/*
1. disable bold typeface for tab titles
2. fix non focused tabs being shorter
3. disable new tab, close tab and loading burst animations
*/

