:root {
  --tab-toolbar-navbar-overlap: 0 !important;
  --tab-min-height: 19px !important;
}

:root #tabbrowser-tabs {
  --tab-min-height: 19px !important;
}

#TabsToolbar {
  height: var(--tab-min-height) !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tab-content{
  line-height: var(--tab-min-height) !important;
}

/* Margins for the tab text, the favicon and the tab loading animation */
.tab-text{
  margin-top: 0 !important;
  line-height: 16px !important;
}

.tab-label-container{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tab-icon-image{
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 14px !important;
  width: 14px !important;
}

.tab-throbber{
  margin-top: 0 !important;
}

/*
1. disable bold typeface for tab titles
*/
