@use "sass:color";

$bg: #1a1b26;
$fg: #c0caf5;

window.Bar {
  background-color: $bg;
  color: $fg;

  font-family: "Fira Sans", sans-serif;
  font-size: 18px;

  button {
    all: unset;
    background-color: transparent;

    &:hover label {
      background-color: color.adjust($fg, $alpha: -0.84);
    }

    &:active label {
      background-color: color.adjust($fg, $alpha: -0.8)
    }
  }

  .Workspaces button {
    padding-left: 8px;
    padding-right: 8px;
    font-size: 20px;
  }

  .Workspaces .focusedWorkspace button {
    background-color: color.adjust($fg, $alpha: -0.8)
  }

  .BluetoothStatus {
    margin-right: 16px;
  }

  .WiFi label {
    margin-right: 16px;
  }

  .WiFi .WiFiIcon {
    margin-right: 4px;
  }

  .Clock {
    margin-right: 16px;
  }

  .Clock .Date {
    margin-right: 8px;
  }
}
