/* navbar */
#nav-bar {
  min-height: 1.4em !important;
  max-height: 1.4em !important;
  border-width: 0 !important;
}

/* urlbar */
#urlbar-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#urlbar {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

#urlbar-background {
  border-width: 0 !important;
}

#urlbar-input-container {
  border-width: 0 !important;
}
