:root {
  --tab-min-height: 1.4em !important;
}

.tab-label-container {
  height: var(--tab-min-height);
}

.tab-label {
  line-height: var(--tab-min-height) !important;
}

.tab-throbber,
.tab-icon-image,
.tab-icon-sound,
.tab-close-button {
  height: 1em !important;
  width: 1em !important;
}
