snippet frac "Frac snippet"
\frac{$1}{$2}
endsnippet

snippet lero "Matching round brackets"
\left($1\right)
endsnippet

snippet lesq "Matching square brackets"
\left[$1\right]
endsnippet

snippet lecu "Matching curly brackets"
\left{$1\right}
endsnippet

snippet beq "Unnumbered equation"
\[
$1
\]
endsnippet
