:root {
  --tab-min-height: 1.4em !important;
  --tab-toolbar-navbar-overlap: 0 !important;
}

#TabsToolbar {
  min-height: 0 !important;
  max-height: var(--tab-min-height) !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.tab-content {
  padding-top: 0 !important;
  margin-bottom: -2px !important;
  line-height: 1em !important;
}

.tab-text {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  line-height: 1.4em !important;
}

.tab-label-container {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  line-height: 1.4em !important;
}

/* Favicon */
.tab-icon-image {
  margin-top: 0 !important;
  margin-bottom: 1px !important;
  padding-bottom: 0 !important;
  height: 1em !important;
  width: 1em !important;
}

/* Page loading animation */
.tab-throbber {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* Speaker icon when audio is playing */
.tab-icon-sound {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
  height: 1em !important;
  width: 1em !important;
}
