* {
  all: unset;
}

window {
  font-family: "FiraCode Nerd Font";
  background-color: #16181d;
  color: #abb2bf;
  opacity: 0.95;
}

.icon {
  font-family: "FiraCode Nerd Font Mono";
}

.separator {
  margin: 25px;
  border-bottom: 1px solid #5c6370;
}

.widget-title {
  background-color: #abb2bf;
  color: #282c34;
  font-size: 17px;
  margin-bottom: 5px;
}

.weather {
  background-color: #282c34;
  margin: 20px;
  padding: 5px;
  border-radius: 2px;
}

// WEATHER NOW

.weather-now-icon {
  font-size: 125px;
  color: #e5c07b;
  margin: -30px 0px;
}

.weather-now-location {
  font-size: 18px;
  padding: 5px 0px;
}

.weather-now-temperature {
  font-size: 50px;
  margin-left: 10px;
}

.weather-now-location,
.weather-now-temperature {
  margin-right: 15px
}

// WEATHER LATER

.weather-later-icon {
  font-size: 50px;
  color: #e5c07b;
}

.weather-later-time,
.weather-later-temperature {
  font-size: 20px;
}

.weather-later-temperature {
  margin-left: 8px;
}

// WEATHER FOLLOWING DAYS

.weather-following-day-date,
.weather-following-day-temperature-min,
.weather-following-day-temperature-max {
  font-size: 20px;
  margin-bottom: 17px;
}

.weather-following-day-icon {
  font-size: 40px;
  color: #e5c07b;
  margin-bottom: -5px;
  margin-left: -5px;
  margin-right: 5px;
}

// .weather-following-day-temperature-min {
//   color: #c5e2fa;
// }

// .weather-following-day-temperature-max {
//   color: #ffc0b8;
// }

.weather-following-day-date {
  margin-left: 20px;
}
