/* Variables */
:root{
  --text-color: #ebebeb;
  --focused-tab-color: #626262;
  --unfocused-tab-color: #393939;
  --urlbar-color: #393939;
  --popup-menu-color: #393939;
  --tab-divider-color: #4bc24d;
  --lwt-accent-color: var(--tab-divider-color) !important;
  --sidebar-text-color: var(--text-color) !important;
  /*--sidebar-border-colorz: #b2bac9 !important;*/
}

/* Unfocused tab */
.tab-content{
  color: var(--text-color) !important;
  background-color: var(--unfocused-tab-color) !important;
}

/* Focused tab */
.tab-content[selected="true"]{
  color: var(--text-color) !important;
  background-color: var(--focused-tab-color) !important;
}

/* Tab divider lines */
/* https://www.reddit.com/r/firefox/comments/fjr94k/css_to_change_the_colors_of_the_tab_dividers/ */
.tabbrowser-tab::after{
  visibility: hidden !important;
}
#navigator-toolbox{
  --tabs-border-color: var(--tab-divider-color) !important;
}

/* Urlbar */
#urlbar{
  color: var(--text-color) !important;
  background-color: var(--urlbar-color) !important;
}

/* Urlbar search results */
.urlbarView:not(.megabar){
  color: var(--text-color) !important;
  background-color: var(--urlbar-color) !important;
}

/* Overflow button in urlbar */
#nav-bar-overflow-button{
  color: var(--text-color) !important;
  background-color: var(--urlbar-color) !important;
}

/* Overflow popup menu */
.panel-subview-body{
  color: var(--text-color) !important;
  background-color: var(--popup-menu-color) !important;
}

/* Disable overflow button opacity when firefox isn't focused */
.toolbarbutton-1:not(:hover):-moz-window-inactive,
:root:not([customizing]) .toolbarbutton-1:-moz-window-inactive[disabled="true"] {
  opacity: 1 !important;
}

/* Sidebar */
.sidebar-placesTreechildren{
  /*border-right: 2px solid var(--sidebar-border-colorz);
  border-bottom: 2px solid var(--sidebar-border-colorz);*/
  padding-top: 5px !important;
}

#sidebar-header{
  padding-top: 3px !important;
  padding-bottom: 3px !important;
  /*border-bottom: 2px solid #00ff00;
  border-top: 2px solid var(--sidebar-border-colorz);
  border-right: 2px solid var(--sidebar-border-colorz);*/
}
