/* Variables */
:root{
  --text-color: #ebebeb;
  --focused-tab-color: #626262;
  --unfocused-tab-color: #393939;
  --urlbar-color: #393939;
  --popup-menu-color: #393939;
}

/*:root{
  --lwt-accent-color: #4bc24d !important;
}

#navigator-toolbox{
  --tabs-border-color: #4bc24d !important;
}*/

/* Unfocused tab */
.tab-content{
  color: var(--text-color) !important;
  background-color: var(--unfocused-tab-color) !important;
}

/* Focused tab */
.tab-content[selected="true"]{
  color: var(--text-color) !important;
  background-color: var(--focused-tab-color) !important;
}

/* Urlbar */
#urlbar{
  color: var(--text-color) !important;
  background-color: var(--urlbar-color) !important;
}

/* Urlbar search results */
.urlbarView:not(.megabar){
  color: var(--text-color) !important;
  background-color: var(--urlbar-color) !important;
}

/* Overflow button in urlbar */
#nav-bar-overflow-button{
  color: var(--text-color) !important;
  background-color: var(--urlbar-color) !important;
}

/* Disable overflow button opacity when firefox isn't focused */
.toolbarbutton-1:not(:hover):-moz-window-inactive,
:root:not([customizing]) .toolbarbutton-1:-moz-window-inactive[disabled="true"] {
  opacity: 1 !important;
}

/* Overflow popup menu */
.panel-subview-body{
  color: var(--text-color) !important;
  background-color: var(--popup-menu-color) !important;
}
