body{
  --toolbarbutton-border-radius: 0
}

#nav-bar{
  min-height: 1.4em !important;
  max-height: 1.4em !important;
  box-shadow: none !important;
}

#urlbar{
  min-height: 1.4em !important;
  max-height: 1.4em !important;
  border-width: 0 !important;
  border-radius: 0 !important;
}

#urlbar[focused="true"]{
  box-shadow: none !important;
}

#urlbar-input{
  min-height: 1.4em !important;
  max-height: 1.4em !important;
  padding-left: 7px !important;
  padding-right: 7px !important;
  padding-bottom: 1px !important;
  border-radius: 0 !important;
}

#urlbar-container{
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

#urlbar-background{
  border-width: 0 !important;
}

#urlbar-input-container{
  border-width: 0 !important;
}

#nav-bar-overflow-button{
  padding-top: 0 !important;
  padding-bottom: 1px !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

#navigator-toolbox{
  border-width: 0 !important;
}

/* Search results margin */
#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-type-icon,
.urlbarView-row .urlbarView-favicon {
  margin-left: 7px !important;
}

/* Overflow button custom size icon */
#PlacesChevron, #nav-bar-overflow-button{
  list-style-image: none !important;
  background-image: url("chrome://browser/skin/chevron.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.9em !important;
  margin-bottom: 1px !important;
}

/* Downloads button margins */
#downloads-button{
  list-style-image: none !important;
  background-image: url("chrome://browser/skin/downloads/download-icons.svg#arrow-with-bar");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.9em !important;
  margin-bottom: 1px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
