/* https://www.reddit.com/r/FirefoxCSS/comments/f9yhpw/moving_the_navigation_bar_to_the_bottom_of_the/ */
/* https://www.reddit.com/r/FirefoxCSS/comments/fb54kp/how_can_i_move_the_urlbar_to_the_bottom_of_the/ */

#nav-bar{
  position: fixed !important;
  bottom: 0px;
  display: flex;
  width: 100%;
  z-index: 1;
}

#nav-bar-customization-target{ flex-grow: 1; }

/* Search results above nav bar */
.urlbarView{
  border-width: 0 !important;
}

#urlbar-results{
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}

#urlbarView-row-0,
#urlbarView-row-1,
#urlbarView-row-2,
#urlbarView-row-3,
#urlbarView-row-4,
#urlbarView-row-5,
#urlbarView-row-6,
#urlbarView-row-7,
#urlbarView-row-8,
#urlbarView-row-9{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  line-height: 1.4em !important;
}

.urlbarView:not(.megabar){
  /*
  -#of_urlbarView-row_elements(10)*urlbarView-row_line_height(1.4em) -navbar_height(1.4em)
  -[urlbarView-row_padding_top(5px) + urlbarView-row_padding_bottom(5px)]*#of_urlbarView-row_elements(10)
  -urlbar-results_padding_top(4px) -urlbar_results_padding_bottom(4x) = -15.4em -100px -8px
  */
  margin-top: calc(-15.4em - 108px) !important;
}

/* Search results favicons */
.urlbarView-type-icon, .urlbarView-favicon{
  height: 1em !important;
  width: 1em !important;
  min-height: 0 !important;
  min-width: 0 !important;
  flex-shrink: 0 !important;
  margin-bottom: 0.2em !important;
}
