#back-button{
  display: none !important;
}

#forward-button{
  display: none !important;
}

#tabs-newtab-button{
  display:none !important;
}

#reload-button{
  display: none !important;
}

#home-button{
  display: none !important;
}

#stop-button{
  display: none !important;
}

#customizableui-special-spring1{
  display: none !important;
}

#customizableui-special-spring2{
  display: none !important;
}

#pocket-button{
  display: none !important;
}

#star-button{
  display: none !important;
}

#urlbar-zoom-button{
  display: none !important;
}

#library-button{
  display: none !important;
}

#sidebar-button{
  display: none !important;
}

#fxa-toolbar-menu-button{
  display: none !important;
}

#cfr-button{
  display: none !important;
}

#pageActionButton{
  display: none !important;
}

#reader-mode-button{
  display: none !important;
}

#tracking-protection-icon-container{
  display: none !important;
}

#urlbar-go-button{
  display: none !important;
}

#overflowMenu-customize-button{
  display: none !important;
}

#identity-box{
  visibility: collapse !important;
}

#PanelUI-button{
  display: none !important;
}

#PanelUI-menu-button{
  display: none !important;
}

#pageActionSeparator{
  display: none !important;
}

#new-tab-button{
  display: none !important;
}

#alltabs-button{
  display: none !important;
}

#PersonalToolbar{
  display: none !important;
}

#sidebar-search-container{
  display: none !important;
}

#statuspanel[type="status"]{
  display: none !important;
}

#statuspanel[type="overLink"]{
  display: none !important;
}

#identity-box[pageproxystate="valid"]{
  display: none !important;
}

.scrollbutton-up{
  display: none !important;
}
.scrollbutton-down{
  display: none !important;
}

.sidebar-search-container{
  display: none !important;
}

.titlebar-buttonbox-container{
  display: none !important;
}

.tab-line[selected="true"]{
  display: none !important;
}

.titlebar-spacer[type="pre-tabs"]{
  display: none !important;
}

.titlebar-spacer[type="post-tabs"]{
  display: none !important;
}

#TabsToolbar .private-browsing-indicator{
  display: none !important;
}

#PlacesToolbarItems .bookmarks-actions-menuseparator,
.openintabs-menuitem{
  display: none !important;
}

#PopupAutoCompleteRichResult .autocomplete-richlistitem .ac-type-icon,
.urlbarView-row .urlbarView-type-icon{
  display: none !important;
}

.urlbar-history-dropmarker,
#urlbar:hover > .urlbar-textbox-container > .urlbar-history-dropmarker{
  display: none !important;
}
