/* Close, minizime and maximize window buttons */
.titlebar-buttonbox-container { display: none; }

/* Empty space before and after the tab bar */
.titlebar-spacer { display: none; }

/* New tab button */
#tabs-newtab-button { display: none; }

/* Scroll left button when the tabs overflow the tab bar */
#scrollbutton-up { display: none; }

/* Scroll right button when the tabs overflow the tab bar */
#scrollbutton-down { display: none; }

/* New tab button when the tabs overflow the tab bar */
#new-tab-button { display: none; }

/* List all tabs button when the tabs overflow the tab bar */
#alltabs-button { display: none !important; }

/* Private window icon at the end of the tab bar */
.private-browsing-indicator { display: none; }
