/* Fonts */

:root {
  /* JetBrainsMono */
  --font-family: "JetBrainsMono Nerd Font";
  --font-size-hints: 12px;
  --font-size-commandline: 14px;
  /* SFMono */
  /* --font-family: "SFMono Nerd Font"; */
  /* --font-size-hints: 12px; */
  /* --font-size-commandline: 14px; */
}


/* Colorschemes */

:root {
  /* Afterglow */
  /* --color-hint-bg: #5a647e; */
  /* --color-hint-fg: #d6d6d6; */
  /* --color-commandline-bg: #1a1a1a; */
  /* --color-commandline-fg: #d6d6d6; */
  /* Gruvbox */
  --color-hint-bg: #b57614;
  --color-hint-fg: #eddbb2;
  --color-commandline-bg: #282828;
  --color-commandline-fg: #ebdbb2;
}


/* Hints */

:root {
  --tridactyl-hintspan-font-family: var(--font-family);
  --tridactyl-hintspan-font-size: var(--font-size-hints);
  --tridactyl-hintspan-bg: var(--color-hint-bg);
  --tridactyl-hintspan-fg: var(--color-hint-fg);
  --tridactyl-hint-bg: none;
  --tridactyl-hint-outline: none;
  --tridactyl-hint-active-bg: none;
  --tridactyl-hint-active-outline: none;
}

/* Command line */

:root {
  --tridactyl-cmdl-font-family: var(--font-family);
  --tridactyl-cmdl-font-size: var(--font-size-commandline);
  --tridactyl-cmdl-bg: var(--color-commandline-bg);
  --tridactyl-cmdl-fg: var(--color-commandline-fg);
}

#command-line-holder,
#tridactyl-input {
  font-size: var(--tridactyl-cmdl-font-size);
  height: 1.3em;
  margin-top: -1px;
  margin-bottom: 2px;
}

#command-line-holder {
  padding-left: 0.15em;
}

#tridactyl-input {
  outline: none;
}


/* Completions */

#completions { display: none; }
