#tracking-protection-icon-container {
  display: none;
}

#identity-box {
  display: none;
}

#reader-mode-button {
  display: none;
}

#pageActionButton {
  display: none;
}

#pocket-button {
  display: none;
}

#star-button {
  display: none;
}

#urlbar-zoom-button {
  display: none;
}

/* Go to arrow button at the end of the urlbar when searching */
#urlbar-go-button {
  display: none;
}

/* Bottom left page loading status or url preview */
#statuspanel {
  display: none !important;
}
