/* Go back button */
#back-button { display: none; }

/* Go forward button */
#forward-button { display: none; }

/* Reload page button */
#reload-button { display: none; }

/* Stop loading page button */
#stop-button { display: none; }

/* Go to home page button */
#home-button { display: none; }

/* Downloads button */
#downloads-button { display: none; }

/* Library button */
#library-button { display: none; }

/* Open sidebar button */
#sidebar-button { display: none; }

/* Firefox account button */
#fxa-toolbar-menu-button { display: none; }

/* Overflow button */
#nav-bar-overflow-button { display: none !important; }

/* General Firefox menu button */
#PanelUI-button { display: none; }

/* Empty space before and after the url bar */
#customizableui-special-spring1,
#customizableui-special-spring2 { display: none; }
