/* Variables */
:root{
    --main-bg-color: #202124;
    --toolbar-bg-color: #393939;
    --main-text-color: #ebebeb;
    --popup-menu-bg-color: #202124;
    --popup-menu-text-color: #ebebeb;
    --tab-highlight-color: #0063e1;
}

/* Set background color */
#navigator-toolbox {
    background-color: var(--main-bg-color) !important;
}

/* Set toolbar color */
:root {
    --toolbar-bgcolor: var(--toolbar-bg-color) !important;
}

/* Set url bar colors */
#urlbar {
    color: var(--main-text-color) !important;
    background-color: var(--main-bg-color) !important;
    border-color: var(--main-bg-color) !important;
}

/* Set focused urlbar border color */
#urlbar[focused="true"]{
    box-shadow: inset var(--main-bg-color) 0px 0px 0px 2px !important;
}

/* Set tab highlight color */
.tab-line[selected="true"] {
    display: none !important;
}

.tabbrowser-tab[selected="true"] .tab-label {
    color: var(--main-text-color) !important;
}

/* Set popup menus colors */
.panel-subview-body, #appMenu-zoomReset-button {
  color: var(--popup-menu-text-color) !important; /* text */
  background: var(--popup-menu-bg-color) !important; /* background */
}

#back-button{
    fill: var(--main-text-color) !important;
}

#forward-button{
    fill: var(--main-text-color) !important;
}

#PanelUI-menu-button{
    fill: var(--main-text-color) !important;
}

.tab-close-button {
    color: var(--main-text-color) !important;
}

#tabs-newtab-button {
    fill: var(--main-text-color) !important;
}

#urlbar-results{
    color: var(--main-text-color) !important;
    background: var(--main-bg-color) !important;
}

toolbarbutton.bookmark-item {
    color: var(--main-text-color) !important;
}
