@import url("/Users/noibe/.config/Firefox/colorscheme.css");
@import url("/Users/noibe/.config/Firefox/removed_stuff.css");
@import url("/Users/noibe/.config/Firefox/hacks/urlbar_and_popup_equal_width.css");

#urlbar{
    border-width: 1px !important;
    padding-left: 8px !important;
}

*{
    font-family: "Roboto Condensed" !important;
    font-size: 15px !important;
}

#nav-bar{
    padding-left: 8px !important;
    padding-right: 8px !important;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
}

.tab-line[selected="true"] {
    height: 3px !important;
}

toolbarbutton.bookmark-item:not(.subviewbutton){
    padding: 5px 4px !important;
}
