:root {
  --tab-min-height: 1.25em !important;
}

/* https://www.reddit.com/r/FirefoxCSS/comments/k3gnwz/is_it_possible_to_specify_the_text_color_of/ge5cr5p?utm_source=share&utm_medium=web2x&context=3 */
.tab-label-container {
  height: var(--tab-min-height);
  opacity: 1 !important;
}

.tab-label {
  line-height: var(--tab-min-height) !important;
}

.tab-icon-image {
  opacity: 1 !important;
}

.tab-icon-image,
.tab-icon-sound,
.tab-close-button {
  height: 1.1em !important;
  width: 1.1em !important;
}
