/* https://www.reddit.com/r/FirefoxCSS/comments/hw3tbxs/howing_the_navbar_in_place_of_the_tabbar_when/ */

:root[sessionrestored] #nav-bar:not([customizing]) {
  display: flex;
  position: fixed !important;
  top: 0;
  width: 100vw;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
}

#nav-bar-customization-target { flex-grow: 1; }

#nav-bar:focus-within {
  z-index: 2 !important;
  opacity: 1 !important;
  pointer-events: auto !important;
}
