name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@refs/pull/72/head
        with:
          nix_version: 2.33.0
      - name: Check formatting
        run: nix run .#check-format
