name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install Nix
        uses: nixbuild/nix-quick-install-action@v34
        with:
          nix_version: 2.29.2
          nix_conf: |
            experimental-features = pipe-operators
      - name: Check formatting
        run: nix run .#check-format
