:root {
  /* This should be the colors being displayed,
     but since Vivaldi seems to darken every colour,
     we correct it by specifying lighter colors. */
  /* --text-color: #ebebeb;
  --unfocused-tab-text-color: #b6b6b6;
  --focused-tab-color: #626262;
  --unfocused-tab-color: #393939;
  --urlbar-color: #393939;
  --tab-divider-color: #6f435d */
  --text-fixed-color: #eeeeee;
  --unfocused-tab-text-fixed-color: #bebebe;
  --focused-tab-fixed-color: #6d6d6d;
  --unfocused-tab-fixed-color: #414141;
  --urlbar-fixed-color: #393939;
  --tab-divider-fixed-color: #7a4c68;
}

/* Focused tab */
.tab-position .tab.active .tab-header {
  color: var(--text-fixed-color) !important;
  background-color: var(--focused-tab-fixed-color) !important;
}

/* Unfocused tab */
.tab-position .tab .tab-header {
  color: var(--unfocused-tab-text-fixed-color) !important;
  background-color: var(--unfocused-tab-fixed-color) !important;
}

/* Tab dividers */
.tab-header::after{
  content: '';
  position: absolute;
  bottom: 0 !important;
  height: 1.4em;
  width: 1px !important;
  background-color: var(--tab-divider-fixed-color) !important;
}
