/* Search box */
#downloads > header > div {
  display: none !important;
}

/* 'Sort by Date Added' title */
#downloads > section:nth-child(2) > div.sortselector.sortselector-compact {
  display: none !important;
}

/* Stuff under downloads */
#downloads > section.download-editor {
  display: none !important;
}
