/* Taken from https://www.reddit.com/r/vivaldibrowser/comments/6tqj3e/full_width_tabs/ */

#tabs-container.top .tab-strip {
  display: flex !important;
}

#tabs-container.top .tab-strip span {
  flex: 1 1 0 !important;
  display: flex !important;
}

#tabs-container.top .tab-position {
  flex: 1 1 0 !important;
  position: relative !important;
  left: auto !important;
  top: auto !important;
}

/*#tabs-container.top .tab-position .tab .close,*/
#tabs-container.top .tab-position .tab .favicon {
  flex: 0 0 1em !important;
}
