/* Navbar */

.toolbar.toolbar-addressbar.toolbar-mainbar.toolbar-large,
.addressfield,
.UrlField {
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
  height: 1.4em !important;
}

/* Text in urlbar */
input[type=text] {
  padding: 0 !important;
}
