/* Adapted from https://forum.vivaldi.net/topic/11208/autohide-adress-bar/7 */

/*Addressbar settings*/
.toolbar-addressbar {
  position: absolute;
  width: 100%;
  bottom: 0;
  transform: translateY(100%);
}

.toolbar-addressbar:focus-within, .toolbar-addressbar:focus {
  transform: translateY(0%);
}
