/* Remove all buttons from navbar */
.button-toolbar {
  display: none !important;
}

/* Remove all buttons from urlbar */
.button-addressfield {
  display: none !important;
}

/* Remove address bar */
.iconmenu-container {
  display: none !important;
}

/* Space right of urlbar */
.toolbar-small.toolbar-insideinput {
  display: none !important;
}

/* Close, minimize, maximize buttons */
.window-buttongroup {
  display: none !important;
}

/* Side panel */
#switch {
  display: none !important;
}

#panels-container {
  width: 0 !important;
}

.panel-group {
  left: 0 !important;
}
