#header, #titlebar, #tabs-container {
  height: 1.4em !important;
  padding: 0 !important;
  border: 0 !important;
  margin: 0 !important;
}

.tab-position .tab .tab-header {
  padding: 0 !important;
  flex: none !important;
  height: 1.4em !important;
}

/* Favicon box */
.tab-position .tab .favicon {
  filter: none !important;
  min-height: 10px !important;
  min-width: 10px !important;
  height: 1em !important;
  width: 1em !important;
  padding: 0 !important;
  margin-top: calc(0.2em + 1px) !important;
  margin-bottom: calc(0.2em - 1px) !important;
  margin-left: 9px !important;
  margin-right: 5px !important;
}

/* Favicon image */
.favicon.jstest-favicon-image > img {
  height: 1em !important;
  width: 1em !important;
}

/* Tab title */
.tab-position .tab .title {
  margin: 0 !important;
  padding-top: 1px !important;
}
